<div class="container">
  <div class="row">
    <div class="col mb-b">
      <mat-card>
        <mat-card-title-group>
          <mat-card-title
            mat-dialog-title
            class="d-flex align-items-center mb-1"
          >
            Add Asset
          </mat-card-title>
        </mat-card-title-group>
        <mat-divider></mat-divider>
        <mat-card-content>
          <form [formGroup]="addAssetFormGroup">
            <div class="row">
              <mat-form-field
                class="mb-2"
                appearance="fill"
                style="width: 100%"
              >
                <mat-label> Category </mat-label>
                <input
                  type="text"
                  #titleField
                  matInput
                  maxlength="70"
                  placeholder="Category"
                  formControlName="category"
                  required
                />
                <mat-error> Category is required </mat-error>
              </mat-form-field>
            </div>
            <!--***********************************************************-->
            <div class="row">
              <mat-form-field
                class="mb-2"
                appearance="fill"
                style="width: 100%"
              >
                <mat-label> Brand Model </mat-label>
                <input
                  type="text"
                  #titleField
                  matInput
                  maxlength="70"
                  placeholder="Brand Model"
                  formControlName="brandModel"
                  required
                />
                <mat-error> Brand is required </mat-error>
              </mat-form-field>
            </div>
            <!--***********************************************************-->
            <div class="row">
              <mat-form-field
                class="mb-2"
                appearance="fill"
                style="width: 100%"
              >
                <mat-label> Reciever </mat-label>
                <input
                  type="text"
                  #titleField
                  matInput
                  maxlength="70"
                  placeholder="Reciever"
                  formControlName="reciever"
                  required
                />
                <mat-error> Reciever is required </mat-error>
              </mat-form-field>
            </div>
            <!--***********************************************************-->
            <div class="row">
              <mat-form-field
                class="mb-2"
                appearance="fill"
                style="width: 100%"
              >
                <mat-label> Description </mat-label>
                <input
                  type="text"
                  #titleField
                  matInput
                  maxlength="70"
                  placeholder="Description"
                  formControlName="description"
                  required
                />
                <mat-error> Description is required </mat-error>
              </mat-form-field>
            </div>
            <!--***********************************************************-->
            <div class="row">
              <mat-form-field
                class="mb-2"
                appearance="fill"
                style="width: 100%"
              >
                <mat-label> Issue Date </mat-label>
                <input
                  type="text"
                  #titleField
                  matInput
                  maxlength="70"
                  placeholder="Issue Date"
                  formControlName="issueDate"
                  required
                />
                <mat-error> Issue date is required </mat-error>
              </mat-form-field>
            </div>
            <!--***********************************************************-->
          </form>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
